<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Student</title>
  </head>
  <body>
    <div>it great to have you here</div>
    <br />
    <span>your otp is <%= code %></span>

    <br />
    <div>click on the button to enter otp</div>

    <br />
    <a
      href="<%= url %>"
      style="
        padding: 10px 30px;
        margin-top: 30px;
        background: dodgerblue;
        border-radius: 10px;
        border: none;
        color: white;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 20px;
      "
      >continue</a
    >
  </body>
</html>
